{% extends "base.html" %}

{% block title %}New Snippet"{% endblock %}

{% block content %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url snippet_new %}" method="post">
  {% csrf_token %}

  <p>
    <label for="name">Name:</label><br />
    {{ form.name }}
  </p>
  <p>
    <label for="language">Language:</label><br />
    {{ form.language }}
  </p>
  <p>
    <label for="plain_code">Source Code:</label><br />
    {{ form.plain_code }}
  </p>

  <p><input type="submit" value="Post Snippet" /></p>

</form>

{% endblock %}
